<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>FAC Map</title>
	<!-- Styles -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/demostyles.css') }}" async>
	<link href="https://fonts.googleapis.com/css?family=Lora|Nunito" rel="stylesheet" async>
	<svg style="height:0;">
		<defs>
			<rect id="vert_box" x="1" y="-.1" width="98" height="100.2" rx="24.5" ry="24.5"/>
			<rect id="hor_box" x="-.1" y="1" width="100.2" height="98" rx="24.5" ry="24.5"/>
			<mask id="border_mask">
				<rect width="100" height="100" fill="white"/>
				<use href="#vert_box"/>
				<use href="#hor_box"/>
			</mask>
			<clipPath id="border_clip">
				<use href="#vert_box"/>
				<use href="#hor_box"/>
			</clipPath>
			<symbol id="ct" class="layer" fill="rgba(250,230,177,1)" viewbox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
				<defs>
					<!-- shadow filter -->
					<filter id="f_shadow" x="-50%" y="-50%" width="200%" height="200%" primitiveUnits="objectBoundingBox">
						<feColorMatrix
							result="darken"
							in="offOut"
							type="matrix"
							values="0.4 0 0 0 0
											0 0.4 0 0 0
											0 0 0.4 0 0
											0 0 0 1 0" />
						<!-- <feGaussianBlur result="blurOut" in="darken" stdDeviation=".05"/> -->
					</filter>
					<!--  darken filter -->
					<filter id="f_darken" x="0" y="0" width="100%" height="100%">
						<feColorMatrix
							in="SourceGraphic"
							type="matrix"
							values="0.02 0 0 0 0
											0 0.02 0 0 0
											0 0 0.02 0 0
											0 0 0 1 0" />
					</filter>
					<!-- 	bottom gradient	 -->
					<radialGradient id="radial" cx="50%" cy="50%" r="50%" fx="0%" fy="50%" gradientTransform="translate(.5,0)">
						<stop offset="0%" stop-color="rgba(255,255,255,.1)"/>
						<stop offset="100%" stop-color="rgba(255,255,255,0)"/>
					</radialGradient>
					<!-- 	glare	 -->
					<symbol id="glare" fill="rgba(255,255,255,.5)" viewbox="0 0 28 32" preserveAspectRatio="none">
						<rect x="-1" y="-10" width="2" height="20" transform="translate(16,10) rotate(10) skewX(-30)"/>
						<rect x="-.25" y="-10" width=".5" height="20" transform="translate(10,15) rotate(10) skewX(-30)"/>
						<rect x="-2" y="-10" width="4" height="30" fill="rgba(255,255,255,.2)" transform="translate(18,13) rotate(10) skewX(-30)"/>
					</symbol>
					<!-- clip for glare -->
					<clipPath id="glare_clip">
						<ellipse id="glare_clip_def" cx="50" cy="0" rx="50" ry="50" transform="translate(0,6.7) scale(1,.5)"/>
					</clipPath>
				</defs>
				<!-- 	shadow	 -->
				<ellipse id="shadow" cx="50" cy="50" rx="50" ry="50" transform="translate(0,0) scale(.7,.7) scale(1,.5)" fill="rgba(38,34,22,.1)"/>
				<!-- 	bottom	 -->
				<ellipse id="bottom1" cx="50" cy="50" rx="50" ry="50" fill="rgb(38,34,22)" transform="translate(0,0) scale(.5,.5) scale(1,.5)"/>
				<ellipse id="bottom2" cx="50" cy="50" rx="50" ry="50" fill="url(#radial)" transform="translate(0,0) scale(.5,.5) scale(1,.5)"/>
				<!-- 	leg	 -->
				<rect id="leg" width="15" height="50" rx="6" x="50" y="0" transform="translate(-7.5,6.7) scale(1,0.866)" fill="rgb(38,34,22)"/>
				<!-- 	edge	 -->
				<ellipse id="edge" cx="50" cy="0" rx="50" ry="50" transform="translate(0,6.7) matrix(1,0,0,1.02,0,.8485) scale(1,.5)" fill="rgba(0,0,0,1)"/>
				<!-- 	top	 -->
				<ellipse id="top" cx="50" cy="0" rx="50" ry="50" transform="translate(0,6.7) scale(1,.5)"/>
				<!-- glare -->
				<g clip-path="url(#glare_clip)">
					<!-- "contain and clip" trick-->
					<use id="glare_instance" xlink:href="#glare" width="100" height="50" y="-25" transform="translate(0,25) translate(0,-20.71) scale(1,1)"/>
				</g>
			</symbol>
		</defs>
		
		<rect id="cb" width="100" height="100" rx="25" ry="25" mask="url(#border_mask)"/>

		<symbol id="g" viewbox="-50 -50 100 100" fill="none">
			<g id="hor">
				<path d="M-150,0 C-150,-65 150,-65 150,0" />
				<path d="M-150,0 C-150,-55 150,-55 150,0" />
				<path d="M-150,0 C-150,-45 150,-45 150,0" />
				<path d="M-150,0 C-150,-35 150,-35 150,0" />
				<path d="M-150,0 C-150,-25 150,-25 150,0" />
				<path d="M-150,0 C-150,-15 150,-15 150,0" />
				<path d="M-150,0 C-150,-5 150,-5 150,0" />
				<path d="M-150,0 C-150,5 150,5 150,0" />
				<path d="M-150,0 C-150,15 150,15 150,0" />
				<path d="M-150,0 C-150,25 150,25 150,0" />
				<path d="M-150,0 C-150,35 150,35 150,0" />
				<path d="M-150,0 C-150,45 150,45 150,0" />
				<path d="M-150,0 C-150,55 150,55 150,0" />
				<path d="M-150,0 C-150,65 150,65 150,0" />
			</g>
			<g id="vert">
				<path d="M0,-150 C-65,-150 -65,150 0,150" />
				<path d="M0,-150 C-55,-150 -55,150 0,150" />
				<path d="M0,-150 C-45,-150 -45,150 0,150" />
				<path d="M0,-150 C-35,-150 -35,150 0,150" />
				<path d="M0,-150 C-25,-150 -25,150 0,150" />
				<path d="M0,-150 C-15,-150 -15,150 0,150" />
				<path d="M0,-150 C-5,-150 -5,150 0,150" />
				<path d="M0,-150 C5,-150 5,150 0,150" />
				<path d="M0,-150 C15,-150 15,150 0,150" />
				<path d="M0,-150 C25,-150 25,150 0,150" />
				<path d="M0,-150 C35,-150 35,150 0,150" />
				<path d="M0,-150 C45,-150 45,150 0,150" />
				<path d="M0,-150 C55,-150 55,150 0,150" />
				<path d="M0,-150 C65,-150 65,150 0,150" />
			</g>
	</symbol>
	</svg>
	<style> 
        {% for i in range(length)%}
        #dot{{i}} {
			position:absolute;
			box-sizing: content-box;
			transform-origin:0 0;
			top: 0px;
			left: 0px;
			width: 150%;
            z-index: 2;   
        }
        {%endfor%}
		
		#newcontainer
			overflow: auto;   
        }
	</style>
</head>
<body>
<div class="container-full">
    <div class="row">
    	<div class="dropdown">
  			<button class="dropbtn">Buildings</button>
  			<div class="dropdown-content">
  				{%for item in buildings%}
				    <a href="{{url_for('index', building = item)}}">{{item.replace('*','')}}</a>
				{%endfor%}
  			</div>
		</div>
		<button class="dropbtn" onclick="location.href='{{url_for('upload')}}'">Upload</button>
    </div>
</div>
<header>
	<span class="highlight-white line-bg">FAC</span>
</header>
<main>
	<div id="map-container">
		<!-- 147.64587/114.39804 = 1.290633 -->
		<div id="newcontainer">
			<img id="map" src="{{ url_for('static', filename='img/FAC.svg') }}" width="150%">
			<svg id="furniture" width="150%" viewbox="0 0 640 495.88" preserveAspectRatio="xMinYMin meet">
				<use href="#ct" width="20" height="20" x="205.4" y="348" transform="translate(-10,-10)"/>
				<use href="#ct" width="20" height="20" x="234.1" y="324" transform="translate(-10,-10)"/>

				<use href="#ct" width="20" height="20" x="291.7" y="372" transform="translate(-10,-10)"/>
				<use href="#ct" width="20" height="20" x="320.5" y="348" transform="translate(-10,-10)"/>

				<use href="#ct" width="20" height="20" x="349.3" y="324" transform="translate(-10,-10)"/>

				<use href="#ct" width="20" height="20" x="406.9" y="372" transform="translate(-10,-10)"/>
				<use href="#ct" width="20" height="20" x="435.7" y="348" transform="translate(-10,-10)"/>

				<use href="#ct" width="20" height="20" x="263" y="198.5" transform="translate(-10,-10)"/>
				<use href="#ct" width="20" height="20" x="263" y="298.5" transform="translate(-10,-10)"/>

				<use href="#ct" width="20" height="20" x="291.7" y="174" transform="translate(-10,-10)"/>
				<use href="#ct" width="20" height="20" x="320.5" y="150" transform="translate(-10,-10)"/>

				<use href="#ct" width="20" height="20" x="349.3" y="126" transform="translate(-10,-10)"/>	

				<use href="#ct" width="20" height="20" x="406.9" y="174" transform="translate(-10,-10)"/>
				<use href="#ct" width="20" height="20" x="435.7" y="150" transform="translate(-10,-10)"/>
			</svg>
			{% for i in range(length)%}
				<img id="dot{{i}}" src="{{ url_for('static', filename='img/dot.svg') }}" width="30" height="30" />
			{%endfor%}
		
			<div id="pin" class="layer"></div>
		</div>
		
	</div>
	<svg id="left-top" class="corner-border" viewbox="0 0 24.5 24.5" preserveAspectRatio="xMinYMin meet">
		<use x="0" y="0" width="100" height="100" href="#cb"/>
	</svg>
	<svg id="right-top" class="corner-border" viewbox="0 0 24.5 24.5" preserveAspectRatio="xMinYMin meet">
		<use x="-75.5" y="0" width="100" height="100" href="#cb"/>
	</svg>
	<svg id="left-bottom" class="corner-border" viewbox="0 0 24.5 24.5" preserveAspectRatio="xMinYMin meet">
		<use x="-0" y="-75.5" width="100" height="100" href="#cb"/>
	</svg>
	<svg id="right-bottom" class="corner-border" viewbox="0 0 24.5 24.5" preserveAspectRatio="xMinYMin meet">
		<use x="-75.5" y="-75.5" width="100" height="100" href="#cb"/>
	</svg>
	<svg id="grid" viewbox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
		<use href="#g" stroke="rgba(0,0,0,.1)" stroke-width=".25"/>
	</svg>

	
	
</main>
<footer>
	<button type= "button" class = "btn btn-default btn-xs" onclick = "zoomOut()" style="float: right;"> Zoom Out</button>
	<span class="info">How it works</span>
	<hr>
	<ul>
		{%if flag == False or flag == None%}
		<li class="current"><span class="underlined">Pick where to meet</span></li>
		<li><span>Click Generate Link</span></li>
		{%endif%}
		{%if flag == True%}
		<li><span>Pick where to meet</span></li>
		<li class="current"><span class="underlined">Here's your <a href={{url}} >link</a></span></li>
		{%endif%}
	</ul>
	<form name="generateLink" class="col-lg-12" action="{{url_for('prereg')}}" method="POST">
        <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <div class = "row">	
                <input type="hidden" name="leftPixel" id="left_label">
			</div>
            <div class = "row">	
                <input type="hidden" name="topPixel" id="top_label">
			</div>
			<div class = "row">	
                <input type="hidden" name="screenWidth" id="sc_width_label">
			</div>
            <div class = "row">	
                <input type="hidden" name="screenHeight" id="sc_height_label">
			</div>
			<div class = "row">	
                <input type="hidden" name="zoomLevel" id="zoom_label">
			</div>
			<div class = "row">	
                <input type="hidden" name="Building" value="FAC">
			</div>
            <div class = "row">
                <span class="input-group-btn"><button class="dropbtn" type="submit">Generate Link</button></span>
            </div>
        </div>
     </form>	
</footer>

<script>
	var dot_flag = false;
						
	function dotPositions(){
		var map = document.getElementById("map");
		var currentScreenX = map.offsetWidth - 100.0;
		var currentScreenY = map.offsetHeight - 100.0;
		var i;
		var l = {{length}};
		for(i = 0; i < l; i++){
			var s = document.getElementById("dot" + i);
			console.log(s);
			
			var scale = currentScreenX/2000;
			
			
			var screenXArr = {{screen_xs}};
			var screenYArr = {{screen_ys}};
			var preXArr = {{x_coord}};
			var preYArr = {{y_coord}};
			var screenX = screenXArr[i] - 100.0;
			var screenY = screenYArr[i] - 100.0;
			
			var prevScale = screenX/2000;
			
			var preX = preXArr[i] - 50.0;
			var preY = preYArr[i] - 50.0;
		
			var x = ((currentScreenX*preX)/screenX) + 50.0;
			var y = ((currentScreenY*preY)/screenY) + 50.0;
		
			//var yScale = currentScreenX/1000;
		
			//s.style.transform = 'scale('+scale+','+scale+')';
			s.style.width = scale*30 + "px";
			s.style.height = scale*30 + "px";
			s.style.transform = 'translate('+x+'px,'+y+'px)';
			//s.style.left = x + "px";
			//s.style.top = y + "px";
			console.log("dotPositions() ran!");
			dot_flag = true;
		}
	}
						
	window.onload = dotPositions;
	if (!dot_flag)
		dotPositions();
</script>
<script>

function distance(x1,y1,x2,y2) {
	return Math.sqrt((x1-x2)**2+(y1-y2)**2);
}
class Point {
	constructor(meID,mapID) {
		this.me = document.getElementById(meID);
		let bounds = this.me.getBoundingClientRect();
		this.diameter = bounds.width; // assume me never resizes.
		this.map = document.getElementById(mapID);
		this.updateOffset();
		this.updateScroll();
		this.paintScheduled = false;
		this.updateScheduled = false; // assume can't resize and/or scroll and/or click at same time
		this.registerHandlers();
		this.pointSet = false;
		// this.updates = 0;
	}
	updateCoords(X,Y) {
		this.x = X + this.scrollLeft - this.diameter/2 - this.offsetLeft;
		this.y = Y + this.scrollTop - this.diameter/2 - this.offsetTop;
		// console.log("updated x,y: " + this.x + ", " + this.y);
	}
	updateScroll() {
		this.scrollLeft = this.map.scrollLeft;
		this.scrollTop = this.map.scrollTop;
		this.updateScheduled = false;
		// this.updates++;
		// console.log([this.scrollLeft,this.scrollTop]);
	}
	updateOffset() {
		let bounds = this.map.getBoundingClientRect();
		this.offsetLeft = bounds.left;
		this.offsetTop = bounds.top;
		this.updateScheduled = false;
		// console.log([this.offsetLeft, this.offsetTop]);
	}
	repaint() {
		this.me.style.transform = 'translate('+this.x+'px,'+this.y+'px)';
		this.paintScheduled = false;
		// console.log(this.me.style.transform);
	}
	clickHandler(e) {
		// (1) Uncomment for "unset when click close", "reset when click far away" behavior
		//let x = this.x,
		//y = this.y;
		//this.updateCoords(e.clientX,e.clientY);
		//if (distance(x,y,this.x,this.y) < 2*this.diameter)
		//	this.pointSet = !this.pointSet;
		//else
		//	this.repaint();
		
		
		// (2) Uncomment for simple "toggle set" behavior
		this.pointSet = !this.pointSet;	
		
		var map = document.getElementById("map");
		var currentScreenX = map.offsetWidth - 100.0;
		var scale = currentScreenX/2000;
		
		document.getElementById('top_label').value = this.y;
		document.getElementById('left_label').value = this.x;
		
		document.getElementById('sc_width_label').value = map.offsetWidth;
		document.getElementById('sc_height_label').value = map.offsetHeight;
		
		document.getElementById('zoom_label').value = 150;
		// TODO: More intuitive behaviors... like "press and hold to set", "click to release"
	}
	mouseMoveHandler(e) {
		// Perhaps this is not really a good behavior for mobile since there is no "hover" input
		if (this.pointSet)
			return;
		this.updateCoords(e.clientX,e.clientY);
		if (this.paintScheduled)
			return;
		this.paintScheduled = true;
		requestAnimationFrame(() => this.repaint());
	}
	scrollHandler(e) {
		if (this.updateScheduled)
			return;
		this.updateScheduled = true;
		requestAnimationFrame(() => this.updateScroll());
	}
	resizeHandler(e) {
		if (this.updateScheduled)
			return;
		this.updateScheduled = true;
		requestAnimationFrame(() => this.updateOffset());
	}
	registerHandlers() {
		this.map.addEventListener('click',(e) => this.clickHandler(e));
		this.map.addEventListener('mousemove',(e) => this.mouseMoveHandler(e));
		this.map.addEventListener('scroll',(e) => this.scrollHandler(e));
		this.map.addEventListener('resize',(e) => this.resizeHandler(e));
	}
}

const	meID = 'pin',
		mapID = 'newcontainer';
var		point,
		pointInitialized = false;

function initPoint() {
	if (pointInitialized)
		return;
	if (document.readyState === 'interactive' || document.readyState === 'complete') {
		pointInitialized = true;
		point = new Point(meID,mapID);
		console.log("Point initialized.");
	}
	else
		document.addEventListener('readystatechange',initPoint);
}

initPoint();

</script>

<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script>
	  //var globalMap = document.getElementById("map");

	  var currentMapX = 0;
	  var currentMapY = 0;

      var MIN_SCALE = 1; // 1=scaling when first loaded
      var MAX_SCALE = 64;
      // HammerJS fires "pinch" and "pan" events that are cumulative in nature and not
      // deltas. Therefore, we need to store the "last" values of scale, x and y so that we can
      // adjust the UI accordingly. It isn't until the "pinchend" and "panend" events are received
      // that we can set the "last" values.
      // Our "raw" coordinates are not scaled. This allows us to only have to modify our stored
      // coordinates when the UI is updated. It also simplifies our calculations as these
      // coordinates are without respect to the current scale.
   
      var img = null;
      var current = {x: 0, y: 0, zoom: 1, oldzoom: 1};
      var container = null;
      {% for i in range(length)%}
        var dot{{i}} = null;
      {%endfor%}
      var table = null;
      var map = null;
      var prevScale = 1;
      var furn = null;
	  var allDots = null;
	  var google = null;
          // We need to disable the following event handlers so that the browser doesn't try to
      // automatically handle our image drag gestures.
      var disableImgEventHandlers = function() {
        var events = ['onclick', 'onmousedown', 'onmousemove', 'onmouseout', 'onmouseover',
          'onmouseup', 'ondblclick', 'onfocus', 'onblur'
        ];
        events.forEach(function(event) {
          img[event] = function() {
            return false;
          };
        });
      };
    
      var zoomWithTransform = function(e){
        var zoomImg = img,
        originalZoom = current.zoom,
        newZoom = current.zoom * 1.25, //put parameter for scale
        /// scroll offset
        scrollX = zoomImg.scrollLeft,
        scrollY = zoomImg.scrollTop,
        /// offset of containeR -- not sure if offset exists
        /// mouse cords
        mouseX = e.center.x - 0 + scrollX,
        mouseY = e.center.y - 0 + scrollY,
        /// calculate click at current zoom
        xCoord = (mouseX - current.x) / originalZoom,
        yCoord = (mouseY - current.y) / originalZoom,
        /// calculate click at new zoom
        newX = xCoord * newZoom,
        newY = yCoord * newZoom,
        /// move to the difference
        /// make sure we take mouse pointer offset into account!
        finalX = (xCoord + (mouseX - xCoord) - newX),
        finalY = (yCoord + (mouseY - yCoord) - newY)
        current.zoom = newZoom;
        current.x = finalX;
        current.y = finalY;
        current.oldzoom = originalZoom;
      }
      var zoomOut = function(e){
      	        var zoomImg = img;
        var originalZoom = current.zoom;
        if(originalZoom >1){
        newZoom = current.zoom * .8; //put parameter for scale
		

		}
		
        current.zoom = newZoom;
  //      current.x = finalX;
  //      current.y = finalY;
        current.oldzoom = originalZoom;
        //img.style.transform = 'scale('+current.zoom+')';
        console.log( "Current values " + current.x + ' ' + current.y);
        var tempx = document.getElementById('newcontainer').scrollLeft;
        var tempy = document.getElementById('newcontainer').scrollTop;
        console.log("Current Scrolls " + tempx, tempy);
        var newScrollLeft =  -(current.x * current.zoom);
        var newScrollTop = -((current.y * current.zoom) );
        console.log(newScrollLeft, newScrollTop);
      //  document.getElementById('map-container').scrollLeft= tempx - newScrollLeft;
    //    document.getElementById('map-container').scrollTop= tempy - newScrollTop;
         //furn.style.transform = 'scale('+current.zoom+')';
		 document.getElementById('newcontainer').style.transform = 'scale('+current.zoom+')';
      }
  
      var onLoad = function() {
        img = document.getElementById("map");
        container = document.getElementById("map-container");
        furn = document.getElementById("furniture");
		google = document.getElementById("google");
		
		//allDots = document.getElementById("dots"); ///////////////////
		
        {% for i in range(length)%}
        dot{{i}} = document.getElementById("dot{{i}}");
        {%endfor%}
      //  table = new Furniture("furniture", "map-container");
       // map = new Furniture("map", "map-container");
 
      //  disableImgEventHandlers();
        var hammer = new Hammer(container, {
          domEvents: true
        });
        hammer.get('pinch').set({
          enable: true
        });
        hammer.on('pan', function(e) {
          //map.translate(e.deltaX, e.deltaY);
          //table.translate(e.deltaX, e.deltaY);
        });
        hammer.on('panend', function(e) {
         // map.updateLastPos();
         // table.updateLastPos();
        });
        hammer.on('pinch', function(e) {
          // We only calculate the pinch center on the first pinch event as we want the center to
          // stay consistent during the entire pinch
          //if (pinchCenter === null) {
           // pinchCenter = rawCenter(e);
           // var offsetX = pinchCenter.x * scale - (-x * scale + Math.min(viewportWidth, curWidth) / 2);
           // var offsetY = pinchCenter.y * scale - (-y * scale + Math.min(viewportHeight, curHeight) / 2);
           // pinchCenterOffset = {
           //   x: offsetX,
           //   y: offsetY
           // };
          //}
        //  var newScale = restrictScale(scale * e.scale);
        //  var zoomX = pinchCenter.x * newScale - pinchCenterOffset.x;
         // var zoomY = pinchCenter.y * newScale - pinchCenterOffset.y;
         // var zoomCenter = {
         //   x: zoomX / newScale,
          //  y: zoomY / newScale
         // };
        
          
        });
        hammer.on('pinchend', function(e) {
       //   updateLastScale();
       //   updateLastPos();
       //   pinchCenter = null;
        });
        hammer.on('doubletap', function(e) {
          //var c = map.rawCenter(e);
          //var n = map.zoomAround(1.6, c.x, c.y);
          //var n = table.rawCenter(e);
          //table.zoomAround(1.6, n.x, n.y);
          //var newScale = 1.3*prevScale;
		  var tempx = document.getElementById('newcontainer').offsetLeft;
        var tempy = document.getElementById('newcontainer').offsetTop;
		//console.log(e.clientX);
		/*console.log(tempx);
		console.log(tempy);
		console.log(e.clientX);
		  var mousex = e.clientX - tempx;
		var mousey = e.clientY - tempy;
		var scale = current.zoom;
		var originx -= mousex/(scale*zoom) - mousex/scale;
		var originy -= mousey/(scale*zoom) - mousey/scale;
		  */
          zoomWithTransform(e);    
          //apply new transformations
          //img.style.transform= 'scale('+current.zoom+')';
        console.log(current.x + ' ' + current.y);
        
        
		
		
		
         //furn.style.transform = 'scale('+current.zoom+')';
		
		/*
				var i;
		var l = {{length}};
		for(i = 0; i < l; i++){
			var s = document.getElementById("dot" + i);
			s.style.transform = 'scale('+current.zoom+')';
		}*/

		var p = document.getElementById("newcontainer");
		p.style.transform = 'scale('+current.zoom+')';
		p.style.transformOrigin = "0 0"; 
		 
		 document.getElementById('newcontainer').scrollLeft= -(current.x * current.zoom);
        document.getElementById('newcontainer').scrollTop= -((current.y * current.zoom) );
		//p.style.transform = 'translate('+originx+', '+ originy +')';
        });
      };
      onLoad();
</script>

</body>
</html>