*:not(body) {
	border:2px solid white;
	background-color:gray;
}

body {
	background-color: gray;
}

svg {
	display: block;
	margin: 0 auto;
	width:90vmin;
	height:90vmin;
	background: radial-gradient(ellipse at center, #fff, #000);
	border-radius: 10vmin;
}

svg path {
	border: 3px solid blue;
	background-color:blue;
}

svg text {
	border: 3px solid green;
	background-color:green;
}

svg textPath {
	border: 3px solid red;
	background-color:red;
}